DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
</head>
<body>
    <h1>Calculator</h1>

    <form methods = ["GET","POST"], action = "/calculator" target = "_self">
        <label for ="number1">Number 1</label>
        <input type="number" id = "number1" name="number1">
        <label for ="calc">Calculation</label>
        <input type = "text" id = "calc" name= "calc">
        <label for ="number2">Number 2</label>
        <input type="number" id = "number2" name="number2">
        <button type="submit">Submit</button>
    </form>

    <div id="result">
            Result: {{ result }}
    </div>
</body>
</html>
