
<html>
<head>
    <title>Calculator</title>
</head>
<body>
    <h1>Calculator</h1>

    <form methods = ["POST"], action = "/calculator" target = "_self">
        <label for ="number1">Number 1</label>
        <input type="number" name="number1" id = "number1">
        <label for ="calc">Calculation</label>
        <input type = "text"  name= "calc" id = "calc">
        <label for ="number2">Number 2</label>
        <input type="number" name="number2" id = "number2">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
