<html>
<head>
    <title>Tic Tac Toe</title>
        <style> pre {white-space: pre; font-size: 30px;}</style>
</head>

<form method="POST", action = "/TicTacToe">
        {{form.move.label}}
        {{form.move}}
        {{form.submit}}
    </form>

<body>
    <pre> {{game_assets["0,0"]["Status"]}} | {{game_assets["0,1"]["Status"]}} | {{game_assets["0,2"]["Status"]}}</pre>
    <pre> ---------</pre>
    <pre> {{game_assets["1,0"]["Status"]}} | {{game_assets["1,1"]["Status"]}} | {{game_assets["1,2"]["Status"]}}</pre>
    <pre> ---------</pre>
    <pre> {{game_assets["2,0"]["Status"]}} | {{game_assets["2,1"]["Status"]}} | {{game_assets["2,2"]["Status"]}}</pre>

<p> It is {{game_assets["player"]}}'s turn</p>
{%if message%}
        <p>{{message}}</p>
    {% endif %}
</body>
</html>
